*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    width: 1300px;
    display: flex;
    justify-content: space-between;
    margin: 100px auto;
}

#left{
    width: 450px;
}

input{
    width: 450px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(192, 192, 192);
    margin-top: 10px;
    margin-bottom: 15px;
    outline: none;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    padding: 5px;
}

.btn{
    width: 70px;
    height: 40px;
    color: green;
    border: 1px solid green;
}

.btnAdd,
.btnUserEdit{
    background-color: #fff;
    transition: 0.5s;
}

.btnAdd:hover,
.btnUserEdit:hover{
    background-color: green;
}

.btn:hover{
    cursor: pointer;
    color: blue;
    box-shadow: 0px 0px 55px 10px rgba(14, 233, 6, 0.5);
}

#right{
    margin-left: 100px;
}

#table,
#right{
    width: 600px;
}

th, 
td{
    width: 100px;
    height: 40px;
    text-align: center;
    border: 1px solid pink;
}

#tableBody{
    margin-left: 50px;
    width: 50px;
    border: 1px solid black;
}

.tr{
    width: 600px;
    margin-left: 50px;
}

.btnEdit{
    background-color: yellow;
}

.btnDelete{
    background-color: red;
}

#incorrect{
    width: 1300px;
    height: 800px;
    margin: 0 auto;
    text-align: center;
    color: red;
    font-size: 54px;
    
}